:root {
  --base: 34, 40, 49;
  --base-light: 238, 238, 238; 
  --primary: 0, 173, 181;
  --secondary: 57, 62, 70;

  /* content-card background-gradient
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
  */
}

.dark {
  background-color: rgb(var(--base));
  color: rgb(var(--base-light));
}




button, [role="button"] {
  cursor: pointer;
  padding: 0;
  border-width: 0;
}
select, [role="listbox"] {
  cursor: pointer;
}
ul, [role="none"] {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(var(--base));
}
.dark a {
  color: rgb(var(--base-light));
}
.router-link-active {
  color: rgb(var(--primary)) !important;
}
:disabled {
  cursor: default;
}
[hidden] {
  display: none;
}