:root {
  --base: 34, 40, 49;
  --base-light: 238, 238, 238; 
  --primary: 0, 173, 181;
  --secondary: 57, 62, 70;

  --button-shadow-color: 0deg 0% 0%;
  --button-shadow-elevation-medium:
  1px 1px 1.6px hsl(var(--button-shadow-color) / 0.13),
  3.5px 3.5px 5.6px -0.8px hsl(var(--button-shadow-color) / 0.13),
  8.8px 8.8px 14px -1.7px hsl(var(--button-shadow-color) / 0.13),
  21.5px 21.5px 34.2px -2.5px hsl(var(--button-shadow-color) / 0.13);
}

.dark {
  background-color: rgb(var(--base));
  color: rgb(var(--base-light));
}
.dark a {
  color: rgb(var(--base-light));
}
.router-link-active {
  color: rgb(var(--primary)) !important;
}


button, [role="button"] {
  cursor: pointer;
  padding: 0;
  border-width: 0;
}
select, [role="listbox"] {
  cursor: pointer;
}
ul, [role="none"] {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(var(--base));
}
p {
  margin: 0;
}
:disabled {
  cursor: default;
}
[hidden] {
  display: none;
}